
<h1>SMS MESSAGES received:</h1><br/>
<%n=0%>
<%@messages.each do |m|%>
<br/>
<%n+=1%>
<%=n%>. &nbsp;<%=m.id%>/<%=m.device_address%>/<%=m.country%>/<%=m.shortcode%>/<%=m.carrier%><%=m.message%>/<%=m.created_at%>//
<%end%>