<h1>Editing label</h1>

<% form_for(@label) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :labelcategory %><br />
    <%= f.text_field :labelcategory %>
  </p>
  <p>
    <%= f.label :labeldetails %><br />
    <%= f.text_field :labeldetails %>
  </p>
  <p>
    <%= f.label :labelnumber %><br />
    <%= f.text_field :labelnumber %>
  </p>
  <p>
    <%= f.label :remarks %><br />
    <%= f.text_field :remarks %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @label %> |
<%= link_to 'Back', labels_path %>