<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"> 
	<head> 
		<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
		<meta name="keywords" content="Contact Manager, Relationship Manager, walia" /> 
<link rel="shortcut icon" href="/images/rails.png" /> 


<%=javascript_include_tag :defaults %> <%#original%>
<%=javascript_include_tag "prototype"%>
<%#<script type="text/javascript" src="/javascripts/context-disable.js"></script>%><%#disable rt.click%>
<style type="text/css">@import url(/javascripts/calendar-win2k-1.css);</style>
<script type="text/javascript" src="/javascripts/calendar.js"></script>
<script type="text/javascript" src="/javascripts/lang/calendar-en.js"></script>
<script type="text/javascript" src="/javascripts/calendar-setup.js"></script>
<script type="text/javascript" src="/javascripts/combo-box.js"></script>

<%=stylesheet_link_tag 'scaffold'%>

<title>LOGIN: RELATIONSHIPMANAGER:</title>
</head>


<%########## to set body onload events and set values to nil on load########%>
<body onload="cleartext1();">

<%#<iframe src="http://www.nba.com" width="40%" height="80" align="right">
<p>See our <a href="news.html">newsflashes</a>.</p></iframe>%>


 
<%########## to set body onload events and set values to nil on load########%>
<script type="text/javascript">
//window.onload=cleartext1();
function cleartext1(){
var _second="";
var _third=0;

document.getElementById("labeldetails_1").value=_second;
document.getElementById("labeldetails_2").value=_second;
document.getElementById("labeldetails_3").value=_second;
document.getElementById("labeldetails_4").value=_second;
document.getElementById("labeldetails_5").value=_second;
document.getElementById("labeldetails_6").value=_second;
document.getElementById("username_1").value=_second;
document.getElementById("password_1").value=_second;
document.getElementById('Slabeldetails_4').options.selectedIndex=0;
return false;
//alert("CHECK SELECTION!!!");
};
</script>
<%###################%>
<%############################# %>
<%#Organize contacts into groups & send Automated  Messages to groups/individuals:%>

<%if params[:msg1].nil?%><%else%>MSG1:<%=params[:msg1]%><%end%>
 <b><span id="last_login"> </span></b>
 
  
<br/>
<%#<p></p>%>

<%######NEW FORM#######%>
<%##################NEW USER REGISTERATION!!!!###############%>

<%labeldetails=[]%>
<%labelnumber=[]%>
<%i=0%>

<table  cellspacing="20" cellpadding="0" align="left">
<tr>  <td bgcolor="white" vertical-align="top">

<table class="bordertablecream" cellspacing="0" cellpadding ="5"  align="left" >

<div id="update_new">
<%form_tag({:controller=>"home",:action=>'createlogin'},{:onsubmit=>'return validate_Form2();'}) do %>
<tr>
<td colspan="10"></td>
<td colspan="40"></td>
<td colspan="40"></td>
<td colspan="10"></td>
</tr>

<tr>
<td colspan="100" class="Titlebordergold"><strong><u>NEW USER REGISTERATION:</u></strong></td>
</tr>
<tr>
<td colspan="10"></td>
<td colspan="40"></td>
<td colspan="40" >
<td colspan="10"></td>
</tr>
<tr>
<td colspan="10"></td>
<td colspan="40" ><%i+=1%><%=text_field("labeldetails",i, "size"=>30, "value"=>"", "placeholder"=>"Username(Email)")%>
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>"101")%>
<%=observe_field( "labeldetails_"+i.to_s,	:frequency =>14.5, :update=>'labeldetails_'+i.to_s,
 :url=> {:action => "validateusername_"+i.to_s },
:with=>"'labeldetails_#{i}='+value") %></td>
<td colspan="40"><strong><span id="error_msg5"></span><span id="ok_msg5"></span></strong></td>
<td colspan="10"></td>
</tr>
<tr>
<td colspan="10"></td>
<td colspan="40"><%i+=1%><%=password_field("labeldetails",i, "size"=>30, "value"=>"","placeholder"=>"Password(3-15)")%> 
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>"111")%>
<%=observe_field( "labeldetails_"+i.to_s,	:frequency =>7.5, :update=>'labeldetails_'+i.to_s,
:url=> {:action => "validatepassword_"+i.to_s },
:with=>"'labeldetails_#{i}='+value") %></td>
<td colspan="40"><strong><span id="error_msg"></span><span id="ok_msg"></span></strong></td>
<td colspan="10"></td>
</tr>
<tr>
<td colspan="10"></td>
<td colspan="40"><%i+=1%><%=password_field("labeldetails",i, "size"=>30, "value"=>"","placeholder"=>"Password(Confirm)")%> 
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>"112")%>
<%=observe_field( "labeldetails_"+i.to_s,	:frequency =>7.5, :update=>'labeldetails_'+i.to_s,
 :url=> {:action => "validatepassword_"+i.to_s },
:with=>"'labeldetails_#{i}='+value") %></td>
<td colspan="40" ><strong><span id="error_msg1"></span><span id="ok_msg1"></span></strong></td>
<td colspan="10"></td>
</tr>

<tr>
<td colspan="10"></td>
<td colspan="40"><%i+=1%>
<%@sel=""%>
<%=hidden_field("labeldetails",i, "size"=>30, "value"=>"")%>

<%#=select_tag("Slabeldetails_"+i.to_s,options_for_select([["SELECT TITLE:",""]]+Contact::TITLE_TYPES,@sel.to_s),:onClick=>"setTitle1();", :onBlur=>"setTitle2();")%>
<%=select_tag("Slabeldetails_"+i.to_s,options_for_select([["Title:",""]]+Contact::TITLE_TYPES,@sel.to_s), :onBlur=>"setTitle2();", :class=>"select-class")%>
<%#=select_tag("Slabeldetails_"+i.to_s,options_for_select(Contact::TITLE_TYPES,@sel.to_s),:include_blank => true, :onBlur=>"setTitle2();")%>
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>"201")%>
<%=observe_field( "Slabeldetails_"+i.to_s,	:frequency =>2.5, :update=>'labeldetails_4',
 :url=> {:action => "validatetitle_"+i.to_s },
:with=>"'Slabeldetails_#{i}='+value") %>

<script type="text/javascript">
function setTitle1(){
//var _h=document.getElementById('Slabeldetails_4').options[length].text;
alert("hello");
var _y="Mr.";
document.getElementById('labeldetails_4').value=_y;
};
</script>

<script type="text/javascript">
function setTitle2(){

//var _y=document.getElementById('Slabeldetails_4').options[length].text;
var _y=document.getElementById('Slabeldetails_4').options[document.getElementById('Slabeldetails_4').selectedIndex].value;
//alert("hello"+_y);
document.getElementById('labeldetails_4').value=_y;
};
</script>
</td>
<td colspan="40" ><strong><span id="error_msg2"></span><span id="ok_msg2"></span></strong></td>
<td colspan="10"></td>
</tr>

<tr>
<td colspan="10"></td>
<td colspan="40"><%i+=1%><%=text_field("labeldetails",i, "size"=>30, "value"=>"","placeholder"=>"First&Middle Name")%>
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>"202")%>
<%=observe_field( "labeldetails_"+i.to_s,	:frequency =>14.5, :update=>'labeldetails_'+i.to_s,
 :url=> {:action => "validatename_"+i.to_s },
:with=>"'labeldetails_#{i}='+value") %></td>
<td colspan="40" ><strong><span id="error_msg3"></span><span id="ok_msg3"></span></strong></td>
<td colspan="10"></td>
</tr>

<tr>
<td colspan="10"></td>
<td colspan="40"><%i+=1%><%=text_field("labeldetails",i, "size"=>30, "value"=>"","placeholder"=>"LastName")%> 
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>"204")%>
<%=observe_field( "labeldetails_"+i.to_s,	:frequency =>7.5, :update=>'labeldetails_'+i.to_s,
:url=> {:action => "validatename_"+i.to_s },
:with=>"'labeldetails_#{i}='+value") %></td>
<td colspan="40" ><strong><span id="error_msg4"></span><span id="ok_msg4"></span></strong></td>
<td colspan="10"></td>
</tr>

<tr>
<td colspan="10"></td>
<td colspan="40"><%i+=1%><%=text_field("labeldetails",i, "size"=>30, "value"=>"","placeholder"=>"Mobilenumber(10digits)", :onBlur=>"CheckMobile();")%> 
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>"250")%>
<%#######MOBILE NUMBER VALIDATION#########%>
<script type="text/javascript">
function CheckMobile()
{
//var a = document.form.phone.value;
var _empty="";
var _a=document.getElementById("labeldetails_7").value;
if ((_a.to_s=="")||(_a==" ")||(_a=="  ")||(_a.length==0)) {
alert("please Enter the Mobile Number");
document.getElementById("labeldetails_7").value=_empty;
document.getElementById("labeldetails_7").focus();
return false;
}
else{
var i=0;
for(i=0;i<10;i++){

if(isNaN(_a.charAt(i))){
alert("Character "+_a.charAt(i)+" around position "+i+" WRONG!!");
document.getElementById("labeldetails_7").value=_empty;
document.getElementById("labeldetails_7").focus();
}
}//for(i=0;i<10; i++)

if((_a.length < 10) || (_a.length > 10)){
alert(" Your Mobile Number is wrong!:'"+_a+"' must be 10 characters");
document.getElementById("labeldetails_7").value=_empty;
document.getElementById("labeldetails_7").focus();
//return false;
}
}//if(_a=="") ||(_a==" ")
}//function CheckMobile()
</script>

</td>
<td colspan="40" ></td>
<td colspan="10"></td>
</tr>

<tr>
<td colspan="10"></td>
<td colspan="40"></td>
<td colspan="40" >
<td colspan="10"></td>
</tr>
<tr>
<td colspan="10"></td>
<td colspan="40"></td>
<td colspan="40" >
<td colspan="10"></td>
</tr>
<tr>
<td colspan="10"></td>
<td colspan="80" align="center">
<%=submit_tag("NEW REGISTERATION",:class=>"button")%></td>
<td colspan="10"></td>
</tr>



<%####### VALIDATE#########%>  

<%####### VALIDATE#########%>  
<script type="text/javascript">
function validate_Form2(){
//alert("Have u checked all values!!!");
var _nothing="";

var _first=document.getElementById("labeldetails_1").value;
if (!_first  || _first==" " || _first=="" || parseInt(_first)>0)
{
alert("Check Emailid/Username:"+ _first);
document.getElementById("labeldetails_1").value=_nothing;
return false;
}

_first=document.getElementById("labeldetails_2").value;
if (!_first  || _first==" " || _first=="" )
{
alert("Check Password1:"+ _first);
document.getElementById("labeldetails_2").value=_nothing;
return false;
}

_first=document.getElementById("labeldetails_3").value;
if (!_first  || _first==" " || _first=="" )
{
alert("Check Emailid/Username:"+ _first);
document.getElementById("labeldetails_3").value=_nothing;
return false;
}

 _first=document.getElementById("labeldetails_4").value;
if (!_first  || _first==" " || _first=="" )
{
alert("Check Title:"+ _first);
document.getElementById("labeldetails_4").value=_nothing;
return false;
}

 _first=document.getElementById("labeldetails_5").value;
if (!_first  || _first==" " || _first=="" || parseInt(_first)>0)
{
alert("Check First&Middle Name:"+ _first);
document.getElementById("labeldetails_5").value=_nothing;
return false;
}

 _first=document.getElementById("labeldetails_6").value;
if (!_first  || _first==" " || _first=="" || parseInt(_first)>0)
{
alert("Check Last Name:"+ _first);
document.getElementById("labeldetails_6").value=_nothing;
return false;
}
_third=document.getElementById("labeldetails_7").value;
if (!_third  || _third==" " || _third=="")
{
alert("Check MobileNumber:"+ _third);
document.getElementById("labeldetails_7").value=_nothing;
return false;
}


};
</script>

<%#########VALIDATE##########%>
<%#########VALIDATE##########%>

<%end%>
</div> <%#update%>
</table>




<%#####END USER REGISTERATION#########%>


<%######LOGIN FORM START#######%>
<%#<table class= "bordertable"  cellspacing="0" cellpadding="5" align="center">%>
<%#<tr>   %>
</td> <td bgcolor="white" vertical-align="center"><h2> OR </h2> </td> <td bgcolor="white" vertical-align="top">
</td> <td bgcolor="white">
<table class= "bordertablecream" cellspacing="0" cellpadding ="5"  align="center"  >	
<div id="update1">
<%form_tag({:action=>'login', :msg=>params[:username_1]},{ :onsubmit=>'return validate_Form1();'}) do %>


<tr>
<td colspan="10"></td>
<td colspan="40"></td>
<td colspan="40"></td>
<td colspan="10"></td>
</tr>
<tr>
<td colspan="100" class="Titlebordergold"><strong><u>SIGNUP:/LOGIN:</u></strong></td>
</tr>
<tr>
<td colspan="10"></td>
<td colspan="40"><%=text_field("username",1, "size"=>30, "value"=>"", "placeholder"=>"Username(Email)")%>
<%=observe_field( :username_1,	:frequency =>3.5, :update=>'username_1',
 :url=> {:action => "validateusername" },
:with=>"'username_1='+value") %></td>
<td colspan="40"><strong><span id="error_msg6"></span><span id="ok_msg6"></span></strong></td>
<td colspan="10" ></td>
</tr>

<tr>
<td colspan="10"></td>
<td colspan="40"><%=password_field("password",1, "size"=>30, "value"=>"", "placeholder"=>"Password(3-15)")%></p3>
<%=observe_field( :password_1,	:frequency =>1.5, :update=>'password_1',
 :url=> {:action => "validatepassword" },
:with=>"'password_1='+value") %></td>
<td colspan="40" ><strong><span id="error_msg7"></span><span id="ok_msg7"></span></strong></td>
<td colspan="10" ></td>
</tr>

<tr>
<td colspan="10"></td>
<td colspan="40">&nbsp;</td>
<td colspan="40">&nbsp;</td>
<td colspan="10">&nbsp;</td>
</tr>
<tr>
<td colspan="10"></td>
<td colspan="40">&nbsp;</td>
<td colspan="40">&nbsp;</td>
<td colspan="10">&nbsp;</td>
</tr>
<tr>
<td colspan="10"></td>
<td colspan="40"  align="center"><%=submit_tag("LOGIN", :class=>"button" )%></td>
<td colspan="40">
</td>
<td colspan="10"></td>
</tr>

<tr>
<td colspan="10"></td>
<td colspan="40">&nbsp;</td>
<td colspan="40">&nbsp;</td>
<td colspan="10">&nbsp;</td>
</tr>
<tr>
<td colspan="10"></td>
<td colspan="40">&nbsp;</td>
<td colspan="40">&nbsp;</td>
<td colspan="10">&nbsp;</td>
</tr>

<tr>
<td colspan="10"></td>
<td colspan="40">&nbsp;</td>
<td colspan="40">&nbsp;</td>
<td colspan="10">&nbsp;</td>
</tr>
<tr>
<td colspan="10"></td>
<td colspan="40">&nbsp;</td>
<td colspan="40">&nbsp;</td>
<td colspan="10">&nbsp;</td>
</tr>


<tr>
<td colspan="10"></td>
<td colspan="40" ></td>
<td colspan="40"><%#=check_box("remember_me",1,{},"yes","no")%><%#remember-me%>
<%#to make session persistent%></td>
<td colspan="10"></td>
</tr>




<%####### VALIDATE#########%>  
<script type="text/javascript">
function validate_Form1(){
//alert("Hello Have u checked all values!!!");
var _first=document.getElementById("username_1").value;
var _nothing="";
var _second=document.getElementById("password_1").value;
if (!_first  || _first==" " || _first=="" || parseInt(_first)>0)
{
alert("Check Emailid/Username:"+ _first);
document.getElementById("username_1").value=_nothing;
return false;
}

if (!_second  || _second==" " || _second=="")
{
alert("Check Password:"+ _second);
document.getElementById("password_1").value=_nothing;
return false;
}
};
</script>



<%end%>
</div> <%#update%>
</table>
</td>
</tr>


<%######END LOGIN  FORM#######%>







<%#<br/><br/><br/><br/><br/><p></p>%>



<tr>
<td cellspan="200">




<br/>=========================<br/>

<%if @previous_name!=''%>
<p>Last Login:<%=h @previous_name%></p>
<%end%><%#if @previous_name!=''%>

</td>

<%###################################################################################%>

<td></td><td></td>
<td cellspan="100">


<br/>=========================<br/>
updated on:30thsept 2011; 10:15
<br/>NOW:<%=Time.now.strftime("%d-%m-%Y %H:%M:%S")%>

</td></tr>
</table>

</body>
</html>
