<%= error_messages_for 'contact' %>
<%c=1%>
<%con=Contact.find(:first,  :order=> "contactid DESC")%>
<%if con.nil?%>
	<%c=1%>
	<%else%>
	<%c=(con.contactid).to_i%>
	<%c=c+1%>
<%end%>
<u><h2> New <u><%=@choice%></u> Contacts for <%=@username%> </h2></u> <%#masterid:%><%#=@user_id%><%#flash.now[:notice]=" New contact id number is :#{sprintf("%2.0f",c)}.It is now #{Time.now}."%>

<%#@labels=Label.find(:all, :conditions=> "labelnumber <300 or labelnumber in (509,511,514,515,516,517,921,9120,9130,9140,9220,9230,9240,9310,9320,9330,11010)", :order=>"labelnumber")%>


<%case @choice
when "PEOPLE" then%>
<%@labels=Label.find(:all, :conditions=> "labelnumber in (150,201,205,212,250,260,270,509,514,516,2001,21050,21190)", :order=>"labelnumber")%>

<%end%>

<div id="update">
<table cellspacing="2" border="0">


<%#</table>%>
<%i=0%>
<%labelnumber=[]%>
<%label=[]%>
<%labeldetails=[]%>
<%contactid=[]%>
<%time_at=[]%>
<%detail=[]%>
<%category1="a"%>
<%category2="b"%>
<%#<table cellspacing="1" border="0">%>
<%odd_or_even=0%>
<%@labels.each do |@label|%>
 <%odd_or_even=1- odd_or_even%>
<%i+=1%>
<%category2 =@label.labelcategory%>  

<%if category1==category2%>
<%else%>
<tr >
     <td class="Listline2" style="font-size: 10.5pt.; color:#01004e; height:1em;"> -</td>
     <td class="Listline2" style="font-size: 10.5pt.; color:#01004e; height:1em;"> ----<u><%=@label.labelcategory%></u>----- </td>
     <td class="Listline2" style="font-size: 10.5pt.; color:#01004e; height:1em;"> -------------------------------</td>
     <td></td>
     <td></u></td>
     
</tr>
<%category1=@label.labelcategory%>
    
<%end%>
 <% var1=@label.labeldetails%>
<tr>
 <td><%#=i%> </td>
<td class="ListLine<%= odd_or_even%>">

<%#### to combine 2 or 3 fields to shorten form%>
<%case @label.labeldetails
when "title" then%>
NAME(title/first&middle/lastname)

<%when "company name" then%>
Company-Name/Designation-Post

<%when "phone-fax" then%>
phone-fax(011-29237824)/website

<%when "mobilenumber" then%>
mobilenumber(9899474781)

<%when "city" then%>
City-State

<%when "pincode" then%>
Pincode/Country

<%when "birthday" then%>
Birthday(dd-mm-yyyy)

<%when "number&streetname" then%>
Number-streetname/Locality-district

<%else%>
<%=@label.labeldetails%>

<%end%>
<%#### END to combine 2 or 3 fields to shorten form%>

<%if ["entity category","title","mobilenumber"].include? @label.labeldetails%>*<%end%>
</td>

<% case @label.labeldetails 
when "entity category" then%><%### try and group entity category with group%>
<td class="ListLineReqdWhite">
<%@sel="Friend"%>
<%=hidden_field("labeldetails",i, "size"=>20, "value"=>"Friend")%>
<%=select_tag("Tlabeldetails_"+i.to_s,options_for_select([["SELECT TITLE:",""]]+Contact::PEOPLE_TYPES,@sel.to_s), :onBlur=>"setTitle2();")%>

<%=observe_field( "Tlabeldetails_"+i.to_s,	:frequency =>2.5, :update=>'labeldetails_1',
 :url=> {:action => "validatecategory_"+i.to_s },
:with=>"'Tlabeldetails_#{i}='+value") %>

<script type="javascript">
function setTitle2(){
var _h=document.getElementById('Tlabeldetails_1').options[length].text;
document.getElementById('labeldetails_1').value=_h;
}
</script>
<%sprintf("%0.0f",c.to_s)%>
<%=hidden_field( "labelnumber",i,"size"=>5,"value"=>@label.labelnumber)%>
<%=hidden_field("contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%>
<%=hidden_field("created_at", i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%>

<span id="error_msg" class="error_msg"></span><span id="ok_msg"></span>
<%#next one added to entity category%>
<%i+=1%>
GROUP:
<%= options=[["Select or type new group", ""]] + Contact::PERSONAL_GROUPS
select("labeldetails",i,options,{},{:onKeyPress=>"edit(event)",:onBlur=>"this.editing=false;"}) %>
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>160)%>
<%=hidden_field( "contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%>
<%=hidden_field("created_at",i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%>

</td> 
<td></td>
<td></td>
<td></td>
<td></td>
<%###END try and group entity category with group%>


<%when "title" then %>
<td class="ListLineReqdWhite" >
<%sel||="Mr."%><%@sel=sel%>
<%=hidden_field("labeldetails",i, "size"=>5, "value"=>"Mr.")%>
<%=select_tag("Tlabeldetails_"+i.to_s,options_for_select([["TITLE:",""]]+Contact::TITLE_TYPES,@sel.to_s), :onBlur=>"setTitle1();")%>
<%=observe_field( "Tlabeldetails_"+i.to_s,	:frequency =>2.5, :update=>'labeldetails_3',
 :url=> {:action => "validatetitle_"+i.to_s },
:with=>"'Tlabeldetails_#{i}='+value") %>

<script type="text/javascript">
function setTitle1(){
var _h=document.getElementById('Tlabeldetails_3').options[document.getElementById('Tlabeldetails_3').selectedIndex].value;
document.getElementById('labeldetails_3').value=_h;
}
</script>
<%sprintf("%0.0f",c.to_s)%><span id="error_msg1"></span><span id="ok_msg1"></span>
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>@label.labelnumber)%>
<%=hidden_field( "contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%>
<%=hidden_field("created_at",i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%>
<%i+=1%>

/<%=text_field("labeldetails",i, "size"=>15, "value"=>"",:onBlur=>"CheckFirst();")%>
<%sprintf("%0.0f",c.to_s)%>
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>202)%>
<%=hidden_field( "contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%>
<%=hidden_field("created_at",i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%>
<script type="text/javascript">
function CheckFirst() {
//var a = document.form.phone.value;

}//function CheckFirst()
//alert("no numbers or space in names");
</script>

<%i+=1%>

/<%=text_field("labeldetails",i, "size"=>15, "value"=>"",:onBlur=>"CheckName();")%>
<%sprintf("%0.0f",c.to_s)%>
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>204)%>
<%=hidden_field( "contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%>
<%=hidden_field("created_at",i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%>
<script type="text/javascript">
function CheckName()
{

	}//function CheckName()
</script>

</td> 
<td></td>
<td></td>
<td></td>
<td></td>


<%when "company name" then%>
<td class="ListLine<%= odd_or_even%>White">
<%=text_field("labeldetails",i, "size"=>30, "value"=>"")%>
<%sprintf("%0.0f",c.to_s)%>
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>@label.labelnumber)%>
<%=hidden_field( "contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%>
<%=hidden_field("created_at",i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%>

<%i+=1%>
/<%= options=[["Select post or type new", ""]] + Contact::POSTS
select("labeldetails",i,options,{},{:onKeyPress=>"edit(event)",:onBlur=>"this.editing=false;"}) %>
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>210)%></td>
<%=hidden_field( "contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%></td>
<%=hidden_field("created_at",i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%></td>

</td> 
<td></td>
<td></td>
<td></td>
<td></td>


<%when "qualification" then %>
<td class="ListLine<%= odd_or_even%>White"><%= options=[["Select or type new profession/qualification", ""]] + Contact::PROFESSION_TYPES
select("labeldetails",i,options,{},{:onKeyPress=>"edit(event)",:onBlur=>"this.editing=false;"}) %>
</td> 
<td><%sprintf("%0.0f",c.to_s)%></td>
<td><%=hidden_field("labelnumber",i,"size"=>5,"value"=>@label.labelnumber)%></td>
<td><%=hidden_field( "contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%></td>
<td><%=hidden_field("created_at",i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%></td>


<%when "mobilenumber" then %>
<td class="ListLineReqdWhite"><%=text_field("labeldetails",i, "size"=>40, "value"=>"",:onBlur=>"CheckMobile();")%>
</td> 
<td><%sprintf("%0.0f",c.to_s)%></td>
<td><%=hidden_field("labelnumber",i,"size"=>5,"value"=>@label.labelnumber)%></td>
<td><%=hidden_field( "contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%></td>
<td><%=hidden_field("created_at",i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%></td>
<%#######MOBILE NUMBER VALIDATION#########%>
<script type="text/javascript">
function CheckMobile()
{

}//function CheckMobile()
</script>


<%when "email" then %>
<td class="ListLine<%= odd_or_even%>White"><%#=text_field("vvv","value"=>"")%>
<%=text_field("labeldetails",i, "size"=>40, "value"=>"")%></td> 
<%=observe_field( :labeldetails_10,	:frequency =>14.5, :update=>'labeldetails_10',
 :url=> {:action => "validateemail" },
:with=>"'labeldetails_10='+value") %>
<td><%sprintf("%0.0f",c.to_s)%></td>
<td><%=hidden_field("labelnumber",i,"size"=>5,"value"=>@label.labelnumber)%></td>
<td><%=hidden_field( "contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%></td>
<td><%=hidden_field("created_at",i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%></td>


<%when "phone-fax" then %>
<td class="ListLine<%= odd_or_even%>White"><%=text_field("labeldetails",i, "size"=>12, "value"=>"",:onBlur=>"CheckPhone();")%>

<%sprintf("%0.0f",c.to_s)%>
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>@label.labelnumber)%>
<%=hidden_field( "contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%>
<%=hidden_field("created_at",i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%>
<script type="text/javascript">
function CheckPhone() {
//var a = document.form.phone.value;
var _empty="";
var _a=document.getElementById("labeldetails_11").value;

if ((_a.to_s=="")||(_a==" ")||(_a=="  ")||(_a.length==0)) {
alert("please Enter the Phone Number");
document.getElementById("labeldetails_11").value=_empty;
document.getElementById("labeldetails_11").focus();
return false;
}
else{
if((_a.charAt(0)!="0")){
alert("start with '0'.Enter the valid Phone Number (eg:011-29237824)");
document.getElementById("labeldetails_11").value=_empty;
document.getElementById("labeldetails_11").focus();
}

//check if first 3 digits are numbers then '- and then 
var i=0;
for(i=0;i<5;i++){
if (i==3){
   //alert("I:"+i);
i+=1;
if (_a.charAt(3)!="-"){
alert("3 numbers followed by '-'.(eg:011-29237824)");
document.getElementById("labeldetails_11").value=_empty;
document.getElementById("labeldetails_11").focus();
}//if (_a.charAt(3)!="-")

 //alert("I:"+i);
}//if (i==3)

if(isNaN(_a.charAt(i))){
alert("Character "+_a.charAt(i)+" around position "+i+" WRONG!!");
document.getElementById("labeldetails_11").value=_empty;
document.getElementById("labeldetails_11").focus();
}
}//for(i=0;i<12; i++)


if((_a.length < 12) || (_a.length > 12)){
alert(" Your Phone Number is wrong!:'"+_a+"' must be 12 characters");
document.getElementById("labeldetails_11").value=_empty;
document.getElementById("labeldetails_11").focus();
//return false;
}

}//if(_a=="") ||(_a==" ")

}//function checkphone
</script>


<%i+=1%>

/<%=text_field("labeldetails",i, "size"=>30, "value"=>"")%>
<%=observe_field( :labeldetails_12,	:frequency =>14.5, :update=>'labeldetails_12',
 :url=> {:action => "validatewebsite1" },
:with=>"'labeldetails_12='+value") %>
<%sprintf("%0.0f",c.to_s)%>
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>280)%>
<%=hidden_field( "contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%>
<%=hidden_field("created_at",i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%>

</td> 
<td></td>
<td></td>
<td></td>
<td></td>
<%#######phone/fax NUMBER VALIDATION#########%>

<%when "number&streetname" then %>
<td class="ListLine0White"><%=text_field("labeldetails",i, "size"=>30, "value"=>"",:onBlur=>"CheckAddr1();")%>
<%sprintf("%0.0f",c.to_s)%>
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>@label.labelnumber)%>
<%=hidden_field( "contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%>
<%=hidden_field("created_at",i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%>
<%#######number&streetname VALIDATION#########%>
<script type="text/javascript">
function CheckAddr1() {
var _empty="";
var _a=document.getElementById("labeldetails_13").value;

if ((_a.to_s=="")||(_a==" ")||(_a=="  ")||(_a.length==0)) {
alert("please Enter the 'number&streetname'");
document.getElementById("labeldetails_13").value=_empty;
document.getElementById("labeldetails_13").focus();
return false;
}
}//function CheckAddr1()
</script>
<%#######number&streetname VALIDATION#########%>
<%i+=1%>
/
<%=text_field("labeldetails",i, "size"=>20, "value"=>"",:onBlur=>"CheckAddr2();")%>
<%sprintf("%0.0f",c.to_s)%>
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>511)%>
<%=hidden_field( "contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%>
<%=hidden_field("created_at",i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%>


</td> 
<td></td>
<td></td>
<td></td>
<td></td>

<script type="text/javascript">
function CheckAddr2() {
var _empty="";
var _a=document.getElementById("labeldetails_14").value;

if ((_a.to_s=="")||(_a==" ")||(_a=="  ")||(_a.length==0)) {
alert("please Enter the 'locality/district'");
document.getElementById("labeldetails_14").value=_empty;
document.getElementById("labeldetails_14").focus();
return false;
}
}//function CheckAddr2()
</script>


<%when "city" then %>
<td class="ListLine0White"><%= options=[["Select or type new city", ""]] + Contact::CITY_TYPES
select("labeldetails",i,options,{},{:onKeyPress=>"edit(event)",:onBlur=>"this.editing=false;"}) %>
<%sprintf("%0.0f",c.to_s)%>
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>@label.labelnumber)%>
<%=hidden_field( "contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%>
<%=hidden_field("created_at",i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%>
<%i+=1%>

/<%= options=[["Selector type new state", ""]] + Contact::STATE_TYPES
select("labeldetails",i,options,{},{:onKeyPress=>"edit(event)",:onBlur=>"this.editing=false;"}) %></td>
<td><%sprintf("%0.0f",c.to_s)%>
<%sprintf("%0.0f",c.to_s)%>
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>515)%>
<%=hidden_field( "contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%>
<%=hidden_field("created_at",i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%>
</td> 
<td></td>
<td></td>
<td></td>
<td></td>


<%when "pincode" then%>
<td class="ListLine0White"><%=text_field("labeldetails",i, "size"=>10, "value"=>"")%>
<%sprintf("%0.0f",c.to_s)%>
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>@label.labelnumber)%>
<%=hidden_field( "contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%>
<%=hidden_field("created_at",i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%>

<%i+=1%>/
<%= options=[["Select or type new country", ""]] + Contact::COUNTRY_TYPES
select("labeldetails",i,options,{},{:onKeyPress=>"edit(event)",:onBlur=>"this.editing=false;"}) %>
<%sprintf("%0.0f",c.to_s)%>
<%=hidden_field("labelnumber",i,"size"=>5,"value"=>517)%>
<%=hidden_field( "contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%>
<%=hidden_field("created_at",i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%>
</td> 
<td></td>
<td></td>
<td></td>
<td></td>


<%when "birthday" then %>
<td class="ListLineReqdWhite"><%=text_field("labeldetails",i, "size"=>40, "value"=>"")%>
<input type="hidden" name="date" id="f_date_c" readonly="1" />
<img src="/images/img.gif" id="f_trigger_c"
style="cursor: pointer; border: 1px solid red;"
title="Date selector"
onmouseover="this.style.background=’red’;"
onmouseout="this.style.background=’black’" /></td>
<script type="text/javascript">
Calendar.setup({
inputField : "labeldetails_19",
ifFormat : "%d-%m-%Y",
button : "f_trigger_c",
align : "Tl",
singleClick : false
});
</script>
</td>
<td> <%sprintf("%0.0f",c.to_s)%></td>
<td> <%=hidden_field("labelnumber",i,"size"=>5,"value"=>@label.labelnumber)%></td>
<td><%=hidden_field( "contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%></td>
<td><%=hidden_field("created_at",i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%></td>


<%else%>
<td class="ListLine<%= odd_or_even%>White"><%=text_field("labeldetails",i, "size"=>40)%></td>
<td> <%sprintf("%0.0f",c.to_s)%></td>
<td><%=hidden_field( "labelnumber",i,"size"=>5,"value"=>@label.labelnumber)%></td>
<td><%=hidden_field("contactid", i,"size"=>5,"value"=>sprintf("%0.0f",c.to_s))%></td>
<td><%=hidden_field("created_at", i,"size"=>40,"value"=>Time.now.strftime("%y-%m-%d"))%></td>

<%end%>

</tr>
<%end%>
<tr>
<td></td>
<td colspan="20" style="font-size: 10.0pt.; color:Red; height:1em;">*=REQUIRED</td>
<td colspan="20"  ><%=submit_tag ("  Create New Contact  ",:class=>"button")%></td>
<td colspan="20"></td>
<td></td>
</tr>
</table>
</div>
<!--[eoform:contact]-->

