




  



<%if @contact.nil? or @contact.to_s==""%>
  <%@contactall=Contact.find(:first, :conditions=>"labelnumber=152")%>
  <%@contact=Contact.find(@contactall.contactid)%> <%# TO PROVIDE FOR @contact at link%>
<p>h <h5>NO RECORDS FOR THIS ID: </h5> </p>

<%else%>

<p>
  <b>id:</b>
  <%=h @contact.id %>
</p>

<p>
  <b>Contactid:</b>
  <%=h @contact.contactid %>
</p>

<p>
  <b>Labelnumber:</b>
  <%=h @contact.labelnumber %>
</p>

<p>
  <b>Labeldetails:</b>
  <%=h @contact.labeldetails %>
</p>

<p>
  <b>Tags:</b>
  <%=h @contact.tags %>
</p>




<%end%>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%#= link_to 'Back', contacts_path %>

<br/>
<%=link_to 'ViewSummary',{:action=>'viewsummary'}%>

