<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<%=javascript_include_tag :defaults %>
<%=javascript_include_tag "prototype"%>
<title><h3> Contacts  List</h3></title>


<h1> WELCOME TO RELATIONSHIP MANAGER:</h1>
<h3> Listing contacts for <%=@username%>:</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<b><%=link_to_unless_current "ADD NEW CONTACTS", {:action=>"quickentry", :id=>@user_id, :sel=>"Friend"}%></b>
&nbsp;&nbsp;&nbsp;&nbsp;log_in time: <%=@login_time%>

</head>

<body>
<br/>===============================================================================<br/>
<TABLE CELLSPACING="5">
<tr>
<td colspan="20"><b>ADD NEW:</b></td>
<td colspan="20"></td><td colspan="20"></td>
<td colspan="20"></td><td colspan="20"></td>
</tr>
<tr>
<td colspan="20">
<%=button_to "FRIENDS/RELATIVES/SOCIAL", {:action=>"quickentry", :id=>@user_id}%></td>
<td colspan="20">
<%=button_to "Business Associates/WORK", {:action=>"quickentry", :id=>@user_id}%></td>
<td colspan="20">
<%=button_to "SUPPLIERS/Utility/Bank", {:action=>"quickentry", :id=>@user_id}%></td>
<td colspan="20">
<%=button_to "Emergency/Medical/Fire/Police/Helplines", {:action=>"quickentry", :id=>@user_id}%></td>
<td colspan="20">
<%=button_to "Assets/Investments/FD", {:action=>"quickentry", :id=>@user_id}%></td>
</tr>
</table>
===============================================================================<br/>
<%if session[:user_id]%>  <%#this will exist only if session is initialized in login%>
Session is:<%=session.session_id%><br/>
<%end%>

<%if params[:msg1].nil?%><%else%><%#=@msg_login=params[:msg1]%><%end%>

<br/>


<% form_tag :action=>"deletemultiple", :uid=>@user_id do -%>

<%name=""%><%email=""%><%details=""%>
<%@parent.each do |d|%>

<%case d.labelnumber
when  201..204 then %>
<%name+=d.labeldetails+" "%>

<%when 101 then%>
<%email=d.labeldetails%>


<%when 240..2200%>


<%end%><%#case d.labelnumber%>

<%end%><%#@parent.each do |d|%>



<table cellspacing="5">
<tr>
<td colspan="5"><strong><u>No.</td>
<td colspan="20"><strong><u>_____Name/USERNAME______</td>
<td colspan="40"><strong><u>_______ Contact details __________________</td>
<td colspan="25"><strong><u>________Msg_________</td>
<td colspan="10"><strong><u>Contactid</td>
</strong>
</u>
</tr>
<tr>
<td colspan="5"><strong><u></td>
<td colspan="20"><strong><u></td>
<td colspan="40" align="center"><strong><u>SELF:</td>
<td colspan="25"><strong><u></td>
<td colspan="10"><strong><u></td>
</strong>
</u>
</tr>
<tr> <%###SELF DETAILS:%>
<td colspan="5"><strong><%=name%>:</td>
<td colspan="20"><strong><%=email%></td>
<td colspan="40"><%=details%></td>
<td colspan="25"></td>
<td colspan="10"><%if params[:uid].nil?%><%i=0%><%else%><%i=params[:uid].to_i%><%end%><%=i%>
<%= link_to 'Edit', :action => 'view', :id => i %>
  <%#= link_to 'Delete', { :action => 'delete', :id => i }, :confirm => 'Are you sure? ALL RECORDS FOR THIS CONTACT WILL BE DELETED', :post => true %>
    <td><%= link_to 'Update', :action => 'append', :id => i %>
  <%#=check_box("to_be_deleted",i,{},"yes","no")%>
</td>

</tr>
<td colspan="5"></td>
<td colspan="20"></td>
<td colspan="40" align="center"><b><u>CONTACTS FOR THIS USERNAME:</b></u></td>
<td colspan="25"></td>
<td colspan="10"></td>
</tr>
</tr>
<td colspan="5">.</td>
<td colspan="20">___________</td>
<td colspan="40">_________________________</td>
<td colspan="25">_________________</td>
<td colspan="10">______</td>
</tr>





<%i=1%>
<%a=1%>
 <%name=""%>
 <%contactnumber=""%>
 <%contactdetails=""%>
 <%contactmsg=""%>
 <%contactaddress=""%>
 
 <%@cend=Contact.find(:first,
			 :order=>"contactid DESC")%>
			 
 <%@c=Contact.find(:first, :conditions=>"userid=#{@user_id} and contactid>#{@user_id.to_i}",
           :order=>["labelnumber"])%>
<%if @c.nil?%>
</tr>
<td colspan="5">.</td>
<td colspan="20">___________</td>
<td colspan="40"><h5>NO CONTACT-RECORDS EXIST!!!</h5></td>
<td colspan="25">_________________</td>
<td colspan="10">______</td>
</tr>
<%else%>
<%i=@c.contactid%> 
<%e=@cend.contactid%>


<%@children.each do |cnum|%>

 <%name=""%>
 <%contactnumber=""%>
 <%contactdetails=""%>
 <%contactmsg=""%>
 <%contactaddress=""%>

<%@contacts=Contact.find(:all, :conditions=>"contactid=#{cnum.contactid}")%>

<%for contact in @contacts%>
	
   <%var1=contact.contactid%>
    <%name1=contact.labelnumber.to_i%>
  

<% case contact.labelnumber
when  199..240 then%>
<%name+=contact.labeldetails+","%>

<%when  240..279 then%>
<%contactnumber+="|  "+contact.labeldetails+"   "%>

<%when  280..509 then%>
<%contactdetails+="|  "+contact.labeldetails+"   "%>

<%when  510..2030 then%>
<%contactaddress+="|  "+contact.labeldetails+"   "%>

<%when 21000..25000%>
<%contactmsg+=contact.labeldetails+","%>

<%end%><%#case###%>



<%end%><%#for contact in @contacts%>
<%i=cnum.contactid%>
<tr>
	<td colspan="5"><%=a%></td>
	<td colspan="20"><h20><%=name%></h20></td>
	<td colspan="40"><h20><%=contactnumber%><br/><%=contactdetails%><br/><%=contactaddress%></h20></td>
	<td colspan="25"><h20><%=contactmsg%></h20></td>
	<td colspan="10"><%=i%>  
   <%= link_to 'Edit', :action => 'view', :id => i %>
  <%#= link_to 'Delete', { :action => 'delete', :id => i }, :confirm => 'Are you sure? ALL RECORDS FOR THIS CONTACT WILL BE DELETED', :post => true %>
    <td><%= link_to 'Update', :action => 'append', :id => i %>
  <%=check_box("to_be_deleted",i,{},"yes","no")%>
    </td>
    </tr>
</tr>
<td colspan="5">.</td>
<td colspan="20">-----</td>
<td colspan="40">-----------------------</td>
<td colspan="25">-----------------</td>
<td colspan="10">-----</td>
</tr>
  

<%contactaddress=""%>
<%name=""%>
<%contactnumber=""%>
<%contactdetails=""%>
<%contactmsg=""%>
<%a=a+1%>

<%end%> 
<%end%><%#@contactsall.each do |cnum|%> 
</table>

<%a=a+1%>
    
<li>==============================================================</li>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;	
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
<%=submit_tag("     DELETE CHECKED CONTACTS    ")%>

<%end%>    
<li>==============================================================</li>

</body>