<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<%=javascript_include_tag :defaults %>
<%=javascript_include_tag "prototype"%>
<title><h3> Contacts  List</h3></title>
<h1> Listing contacts</h1>
</head>

<body>
<a href="javascript: window.print()">Print</a> <a href="javascript: window.close()">Close</a>
<% form_tag :action=>"deletemultiple" do -%>
<table cellspacing="5">
<tr>
<td colspan="5"><strong><u>No.</td>
<td colspan="20"><strong><u>_____Name______</td>
<td colspan="40"><strong><u>_______ Contact details __________________</td>
<td colspan="25"><strong><u>________Msg_________</td>
<td colspan="10"><strong><u>Contactid</td>

</strong>
</u>
</tr>

<%i=1%>
<%a=1%>
 <%name=""%>
 <%contactnumber=""%>
 
 
 <%@cend=Contact.find(:first,
			 :order=>"contactid DESC")%>
			 
 <%@c=Contact.find(:first,
			 :order=>"contactid")%>
<%if @c.nil?%>
<h1> No RECORDS EXIST</h1>
<%else%>
<%i=@c.contactid%> 
<%e=@cend.contactid%>



<%for contact in @contacts%>
	
   <%var1=contact.contactid%>
    <%name1=contact.labelnumber.to_i%>
  
<%if i==var1%>
  
<%if name1>199 and name1<250%>
<%name=name+contact.labeldetails%>
<%end%>
<%if name1>=250 and name1<300 %>
<%contactnumber+=contact.labeldetails+","%>
<%end%>
<%else%>


<tr>
	<td colspan="5"><%=a%></td>
	<td colspan="20"><%=name%></td>
	<td colspan="40"><%=contactnumber%></td>
	<td colspan="25"><%=a%></td>
	<td colspan="10"><%=i%></td>	
   
    <td><%= link_to 'Edit', :action => 'view', :id => i %></td>
    <td><%= link_to 'Delete', { :action => 'delete', :id => i }, :confirm => 'Are you sure? ALL RECORDS FOR THIS CONTACT WILL BE DELETED', :post => true %></td>
    <td><%= link_to 'Update', :action => 'append', :id => i %></td>
    <td><%=check_box("to_be_deleted",i,{},"yes","no")%>
    </tr>
  
<%i=contact.contactid%>
<%name=""%>
<%contactnumber=""%>
<%a=a+1%>



<%end%>




<%if e==var1%>


<%end%>

<% end %>
<tr>
	<td colspan="5"><%=a%></td>
	<td colspan="20"><%=name%></td>
	<td colspan="70"><%=contactnumber%></td>
	<td colspan="10"><%=i%></td>	
   
    <td><%= link_to 'Edit', :action => 'view', :id => i %></td>
    <td><%= link_to 'Delete', { :action => 'delete', :id => i }, :confirm => 'Are you sure? ALL RECORDS FOR THIS CONTACT WILL BE DELETED', :post => true %></td>
    <td><%= link_to 'Update', :action => 'append', :id => i %></td>
    <td><%=check_box("to_be_deleted",i,{},"yes","no")%>
  </tr>
  
   
  

</table>




<%a=a+1%>

<%end%>




    
<li>
==============================================================
</li>
<p>
<%=submit_tag("     DELETE CHECKED CONTACTS    ")%>

<%end%>
</body>