<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<%=javascript_include_tag :defaults %>
<%=javascript_include_tag "prototype"%>
<title><h3>Listing contacts</h3></title>
<%headid=(params[:id]).to_i%>
<%if headid<0.01%>
<%headid=1%>
<%end%>
<h1> Listing contacts for CONTACT : <%=headid%></h1>
</head>

<body>
<a href="javascript: window.print()">Print</a> <a href="javascript: window.close()">Close</a>
<table cellspacing="5">
<tr>
<td colspan="30"><strong><u>Label</td>
<td colspan="60"><strong><u>        Labeldetails</td>
<td colspan="50"><strong><u>     Time      </td>
<td colspan="20"><strong><u> Contactid </td>

</strong>
</u>
</tr>
</table>

<%@c=Contact.find(:first,
			 :order=>"contactid")%>
<%if @c.nil?%>
<h1> No RECORDS EXIST</h1>
<%else%>

<table>
<%num1=0%>
<% for contact in @contacts %>

<%num1=contact.labelnumber%>

<%@label=Label.find(:first, :conditions=>"labelnumber=#{num1}")%>
<% if @label.nil?%>
	<%name1=" NULL"%>
	<%else%>
	
<%name1=@label.labeldetails%>
   <%end%>
  <tr>
	<td colspan="30"><%=name1%></td>
	<td colspan="30"><%=contact.labeldetails%></td>
	<td colspan="30"><%=contact.created_at%></td>
	<td colspan="30"><%=contact.contactid%></td>	
   
    <td><%= link_to 'Edit', :action => 'edit', :id => contact.id ,:uid=>params[:uid]%></td>
    <td><%if headid.to_i==contact.contactid%><%else%><%= link_to 'Destroy', { :action => 'destroy', :id => contact.contactid , :cid=>contact.contactid,  :uid=>contact.contactid}, :confirm => 'Are you sure?', :post => true %>
    <%end%></td>
  </tr>
<% end %>
<%end%>
</table>
<li>
==============================================================
<br/>
<%=link_to 'ViewSummary',{:action=>'viewsummary',:id=>params[:id], :uid=>@user_id}%>
</body>