<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<%=javascript_include_tag :defaults %>

<style type="text/css">@import url(/javascripts/calendar-win2k-1.css);</style>
<script type="text/javascript" src="/javascripts/calendar.js"></script>
<script type="text/javascript" src="/javascripts/lang/calendar-en.js"></script>
<script type="text/javascript" src="/javascripts/calendar-setup.js"></script>
<script type="text/javascript" src="/javascripts/combo-box.js"></script>

<title><h3>New Festivals for USERNAME:</h3></title>
</head>

<body>

<h1>ADD NEW FESTIVAL/CELEBRATION:</h1>

<% form_for(@festival) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name , :value=>@festival.name%> 
  </p>
  <p>
    <%= f.label :date %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <%= f.label :duration %>          <br />
     <%= f.text_field :date, :size=>"8" , :value=>@festival.date.strftime("%d-%m-%Y")%>
    
    <input type="hidden" name="date" id="f_date_c" readonly="1" />
<img src="/images/img.gif" id="f_trigger_c"
style="cursor: pointer; border: 1px solid red;"
title="Date selector"
onmouseover="this.style.background=’red’;"
onmouseout="this.style.background=’black’" />
<script type="text/javascript">
Calendar.setup({
inputField : "festival_date",
ifFormat : "%d-%m-%Y",
button : "f_trigger_c",
align : "Tl",
singleClick : false
});
</script>
    
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <%= f.text_field :duration, :size=>"1", :value=>@festival.duration %>day(s) -number only
   </p>
 
   <p>
    <%= f.label :message%><br />
    <%= f.text_field :message, :size=>"80", :value=>@festival.message %>
  </p>      
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description, :size=>"80", :value=>@festival.description %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.submit 'Update',:class=>"button" %>
   
  </p>
<% end %>

<%= link_to 'Back', festivals_path %>
<br/>####################################################################################<br/>
</body>