<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<%=javascript_include_tag :defaults %>
<%=javascript_include_tag "prototype"%>
<title><h3>Listing Festival id=<%=@festival.id%></h3></title>

<h1> Listing festival: <%=@festival.id%></h1>
</head>

<body>
<a href="javascript: window.print()">Print</a> <a href="javascript: window.close()">Close</a>
<table cellspacing="5">
<tr>
<td colspan="30"><strong><u>Label</td>
<td colspan="60"><strong><u>        Labeldetails</td>
<td colspan="50"><strong><u>     Time      </td>
<td colspan="20"><strong><u> Contactid </td>

</strong>
</u>
</tr>
</table>

<%@c=Festival.find(:first, :order=>"id")%>
<%if @c.nil?%>
<h1> No RECORDS EXIST</h1>
<%else%>

<table>
<%num1=0%>

  <tr>
	<td colspan="30"><%=@festival.name%></td>
	<td colspan="30"><%=@festival.date%> <%=@festival.duration%>day(s)</td>
	<td colspan="30"><%=@festival.message%></td>
	<td colspan="30"><%=@festival.description%></td>	
   
    <td><%= link_to 'Edit', :action => 'edit', :id => @festival.id ,:uid=>params[:uid]%></td>
    <td><%#= link_to 'Destroy', { :action => 'destroy', :id => contact.contactid , :cid=>contact.contactid,  :uid=>contact.contactid}, :confirm => 'Are you sure?', :post => true %>
    </td>
  </tr>
<%end%>
</table>
<li>
==============================================================
<br/>
<%=link_to 'index',{:action=>'index',:id=>params[:id], :uid=>@user_id}%>
</body>