<p>
  <b>Id:</b>
  <%=h @category.id %>
</p>

<p>
  <b>Group:</b>
  <%=h @category.group %>
</p>

<p>
  <b>Subgroup:</b>
  <%=h @category.subgroup %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>