<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Festival: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<div id = "banner">
	<b>
	<%=@page_title||"iCONTACTSBOOK"%> <%#if @page_title is nil? then relationship manager%>
	</b>
</div>
<div id = "banner1">
<TABLE CELLSPACING="2">
<tr>
<td colspan="30">
<span id="left1"><b> <%=@username%>:</b></span>
 &nbsp;&nbsp;
</td>
<td colspan="20"><b>
<%=link_to_unless_current "HOME", '/home' %>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  
</td>
<td colspan="20"><b>
<%=link_to_unless_current "CATEGORIES", '/categories' %>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  
</td>
<td colspan="30"><b>
<%if @user_id.to_i==1%>
<%=link_to_unless_current "LABELS", '/labels' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;	
<%=link_to_unless_current "PEOPLE", {:controller=>"contacts", :action=>"viewsummary", :id=>params[:id], :uid=>params[:uid]} %>&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;
<%=link_to_unless_current "PLACES", {:controller=>"contacts",:action=>"quickentry", :id=>params[:id], :uid=>params[:uid], :choice=>"PLACES"}%>&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;
 <%=link_to_unless_current "PRODUCTS", {:controller=>"contacts", :action=>"viewsummary", :id=>params[:id], :uid=>params[:uid]} %>&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;
 <%=link_to_unless_current "PROJECTS", {:controller=>"contacts", :action=>"viewsummary", :id=>params[:id], :uid=>params[:uid]} %>&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;
 <%=link_to_unless_current "PROGRESS", {:controller=>"contacts", :action=>"viewsummary", :id=>params[:id], :uid=>params[:uid]} %>&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;
<%=link_to_unless_current "EMAIL", {:controller=>"user_mailer", :action=>"index", :id=>params[:id], :uid=>params[:uid]} %>&nbsp;&nbsp;&nbsp;
<%=link_to_unless_current "FESTIVAL", {:controller=>"festivals", :action=>"index", :id=>params[:id], :uid=>params[:uid]} %>
<%end%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
<b><%=link_to_unless_current "LOGOUT", {:controller=>"home",:action=>"logout"}%></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
</td>
</tr>	
</table>
</div>

<div id="banner4">
<TABLE CELLSPACING="2">
<tr>
<td colspan="25"><span id="left1"> <b>ADD NEW :</b></span>
</td>
<td colspan="15" >
<%=button_to "  PEOPLE  ", {:controller=>"contacts",:action=>"quickentry", :id=>@user_id, :choice=>"PEOPLE"},:class=>"button"%>
<h20></h20></td>
<td colspan="15">
<%=button_to "PLACES", {:controller=>"contacts",:action=>"quickentry", :id=>@user_id, :choice=>"PLACES"},:class=>"button"%>
<h20></h20></td>
<td colspan="15">
<%#=button_to "PRODUCTS", {:controller=>"contacts",:action=>"quickentry", :id=>@user_id, :choice=>"PRODUCT"},:class=>"button"%>
<h20>(PRODUCT-SERVICES/ASSETS-EXPENSES)</h20></td>
<td colspan="15">
<%#=button_to "PROJECTS", {:controller=>"contacts",:action=>"quickentry", :id=>@user_id,:choice=>"PROCESS"},:class=>"button"%>
<h20>(PROJECTS/REMINDERS)</h20></td>
<td colspan="15">
<%#=button_to "PROGRESS", {:controller=>"contacts",:action=>"quickentry", :id=>@user_id,:choice=>"PROGRESS"},:class=>"button"%>
<h20>(PROGRESS)</h20></td>
</tr>


</table>
</div>


<div id = "notice">
<%if flash[:notice]%> <%# notice will be red%>
<p style="color: #FF0000; background:yellow"><%= flash[:notice] %></p>
<%end%>
<%if flash[:message]%>
<p style="color: green; background:yellow"><%=flash[:message]%></p>
<%end%>
</div>

<%= yield %>

</body>
</html>
